#omegajs {
    position: relative;
    overflow: hidden;
    display: none;
}

#omegajs div {
    position: absolute;
    margin: 0;
}

#omegajs .stage {
    width: 100%;
}

#omegajs,
#omegajs div {
    padding: 0;    
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#omega_debug {
    margin: 0 auto;
    border: 1px solid #FFFFFF;
}

#omega_debug .plot {
    height: 100px;
    margin: 0 10px;
}
