body {
    padding: 0;
    margin: 0;
    background: #000000;
} 

#omegajs {
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    background-color: #333344;
}

@media screen and (min-height:700px) {
   #omegajs {
    margin: 20px auto;
   }
}
