body {
    padding: 0;
    margin: 0;
    background: #000000;
}

#omegajs {
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    background-color: #024994;
}

@media screen and (min-height:700px) {
   #omegajs {
    margin: 20px auto;
   }
}

.sprite {
    background-image: url(img/shooter/1945.png);    
}

.player,
.player.anim_0 {
    background-position: -6px -412px;
}

.player.anim_1 {
    background-position: -72px -412px;
}

.player.anim_2 {
    background-position: -138px -412px;
}

.player.destroy.anim_0 { background-position: -6px -309px; }
.player.destroy.anim_1 { background-position: -70px -309px; }
.player.destroy.anim_2 { background-position: -136px -309px; }
.player.destroy.anim_3 { background-position: -202px -309px; }
.player.destroy.anim_4 { background-position: -268px -309px; }
.player.destroy.anim_5 { background-position: -334px -309px; }
.player.destroy.anim_6 { background-position: -400px -309px; }

.player.horz {
    -ms-transform: scale(0.8, 1);
    -webkit-transform: scale(0.8, 1);
    -o-transform: scale(0.8, 1);
    -moz-transform: scale(0.8, 1);
    transform: scale(0.8, 1);
}

.enemy {
    background-position: -6px -466px;
}

.enemy.destroy.anim_0 { background-position: -70px -169px; }
.enemy.destroy.anim_1 { background-position: -103px -169px; }
.enemy.destroy.anim_2 { background-position: -136px -169px; }
.enemy.destroy.anim_3 { background-position: -169px -169px; }
.enemy.destroy.anim_4 { background-position: -202px -169px; }
.enemy.destroy.anim_5 { background-position: -235px -169px; }

.bullet {
    background-position: -11px -211px;
}